# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Static-site generation and pre-rendering files
.next/

# Environment variables
# --> THIS IS THE MOST IMPORTANT LINE FOR SECURITY <--
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
